

<div id="user-form" style="display:inline; text-align:center; margin-top:0;">
<%= form_for [ @itinerary, @comment ] do |f| %>
    <h3>Add a Comment:</h3>
    <%= f.text_field :author_name, :class => "form-field", :placeholder => "First \& Last", :style => "color:black;" %><br>
    <%= f.text_area :body, :class => "form-field", :placeholder => "Comment", :style => "color:black;" %><br>
    <%= f.submit "Submit", :id => "login-btn" %>

<% end %>
</div>
