@import url(https://fonts.googleapis.com/css?family=Sansita+One);
@import url(https://fonts.googleapis.com/css?family=Muli|Lato);

/*
-------- Fonts, Colors, Etc. ----------

Sansita: Rendezvous | font-family: 'Sansita One', cursive;
Lato: Headers | font-family: 'Lato', sans-serif;
Muli: Text | font-family: 'Muli', sans-serif;

Grey: #999999
Blue: #3472f7
Light Blue: #2c93ff
Green: #05ae0e
Yellow: #ff9500
Red: #ff3b30

Background Grey: #edefed
Text Grey: #565a5c

/*** REMOVE BROWSER DEFAULTS ***/

html, body {
  margin: 0;
  padding: 0;
  background-color: #edefed;
}

/******** LANDING PAGE *********/

#landing-container {
  width: 800px;
  margin: 0 auto;
  margin-top: 15%;
}

#landing-header {
  font-family: 'Sansita One', cursive;
  font-size: 125px;
  text-align: center;
  color: white;
}

#landing-caption {
  margin-top: -1%;
  margin-left: 6px;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
}

#landing-btn-container {
  overflow: hidden;
}

#left-btn {
  margin-left: 23%;
}

#wrap {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://a2.muscache.com/locations/uploads/photo/image/13492/0_4200_0_2801_one_Raval_FPoli__PL_9573.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*z-index:-9999;*/
}

.landing-btn {
  float: left;
  width: 200px;
  background-color: #2c93ff;
  border-radius: 5px;
  line-height: 35px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 20px 20px 0px 20px;
  border: 0px solid black;
}

.landing-btn:hover {
  background-color: #3472f7;
}

/******* New, Edit, and Login User ********/

#user-container {
  width: 450px;
  margin: 0 auto;
  margin-top: 12%;
}

#user-new {
  font-family: 'Sansita One', cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

#user-edit {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
  color: white;
}

#user-form {
  text-align: right;
  margin-right: 136px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: black;
}

#user-form h4 {
  margin: auto;
  margin-right: -30px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
}

#user-wrap {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://a2.muscache.com/locations/uploads/photo/image/33461/0_4799_0_3600_one_Shimokitazawa_Goto_081.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*z-index:-9999;*/
}

#login-wrap {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://a1.muscache.com/locations/uploads/city/hero/22/0_2831_95_1567_hero_USA_Manhattan_Skyline_061_EO.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*z-index:-9999;*/
}

#error {
  width: 450px;
  color: white;
  text-align: center;
}

#login-btn {
  width: 200px;
  background-color: #2c93ff;
  border-radius: 5px;
  line-height: 35px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-top: 20px;
  margin-right: -7px;
  border: 0px solid black;
}

#login-btn:hover {
  background-color: #3472f7;
}

.form-field {
  margin-bottom: 5px;
  margin-left: 5px;
  width: 180px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  padding-left: 5px;
  background-color: white;
  color: #999999;
}

.submit-btn {
  width: 200px;
  background-color: #2c93ff;
  border-radius: 5px;
  line-height: 35px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-top: 20px;
  margin-left: 6px;
  border: 0px solid black;
}

.submit-btn:hover {
  background-color: #3472f7;
}

/*** Navigation Bar -- Appears on many pages ***/

#nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

#nav-bar a {
  color: white;
  text-decoration: none;
}

#home li {
  font-family:'Sansita One', cursive;
  font-size: 50px;
  line-height: 20px;
  margin-left: -20px;
  float: left;
}

#nav-basic li {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline;
  float: right;
}

/*** Itinerary List and Home Page ***/

video {
  margin-top: -225px;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 90%;
  min-height: 100%;
  width: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

#video-header-container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 170px;
  text-align: center;
  position: absolute;
}

#video-header {
  margin: auto;
  font-family: 'Sansita One', cursive;
  font-size: 100px;
  color: white;
}

#video-caption {
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

#video-btn {
  margin: auto;
  width: 200px;
  background-color: #2c93ff;
  border-radius: 5px;
  line-height: 35px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-top: 100px;
  border: 0px solid black;
}

#video-btn:hover {
  background-color: #3472f7;
}

#itinerary-container {
  margin: 0;
  margin-top: 550px;
  width: 100%;
  position: absolute;
  background-color: #edefed;
}

.info {
  margin: auto;
  width: 600px;
  color: #565a5c;
  text-align: center;
}

.info h2 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.info p {
  font-family: 'Muli', sans-serif;
  margin-bottom: 40px;
}

.itinerary-list {
  margin: auto;
  width: 664px;
}

.single-itinerary {
  width: 300px;
  height: 280px;
  margin: 10px;
  background-color: white;
  border: 5px solid #2c93ff;
  display: inline-table;
}

.single-itinerary:hover {
  border-color: #3472f7;
}

.single-itinerary h4 {
  font-family: 'Sansita One', cursive;
  font-size: 20px;
  margin: 5px 0 5px 0;
  text-align: center;
}

.single-itinerary a {
  text-decoration: none;
  color: black;
}

.single-itinerary h5 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 5px 0 5px 0;
  text-align: center;
}

.single-itinerary p {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  margin: 5px;
}

/*** New and Edit Itinerary Form ***/

#itinerary-wrap {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://a0.muscache.com/locations/uploads/city/hero/25/0_4200_613_2797_hero_southbeach_Cattarossi___MG_5350.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*z-index:-9999;*/
}

/*** New and Edit Destinations Form ***/

#destination-wrap {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://a2.muscache.com/locations/uploads/photo/image/13797/0_4200_0_2800_one_friedrichshain_neumann_54.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*z-index:-9999;*/
}

/*** New and Edit Activities Form ***/

#activity-wrap {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://a0.muscache.com/locations/uploads/photo/image/3034/0_4200_0_2800_one_CanalStMartin_Knight_001.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*** New and Edit Accommodation Activities Form ***/

#detail-wrap {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://a2.muscache.com/locations/uploads/photo/image/1876/0_4200_0_2800_one_uk_london_southbank_db-79.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*** Full Itinerary View ***/

#itinerary-description {
  margin: auto;
  margin-top: 30px;
  padding: 5px;
  width: 400px;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  vertical-align: middle;
}

.itinerary-list h1 {
  font-family: 'Sansita One', cursive;
  font-size: 50px;
  text-align: center;
}

.edit-btn {
  float: left;
  width: 100px;
  background-color: #2c93ff;
  border-radius: 5px;
  line-height: 20px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: white;
  border: 0px solid black;
  margin-left: 60px;
  margin-right: 10px;
}

.delete-btn {
  float: left;
  width: 100px;
  background-color: #ff3b30;
  border-radius: 5px;
  line-height: 20px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: white;
  border: 0px solid black;
  margin: 0;
}

.add-btn {

  width: 210px;
  background-color: #05ae0e;
  border-radius: 5px;
  line-height: 20px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: white;
  border: 0px solid black;
  margin: 5px 0 0 60px;
}

#itinerary-btn-container {
  margin: 0 auto;
  margin-top: -25px;
  margin-bottom: 10px;
  width: 320px;
  overflow: hidden;
}

.detail-list {
  margin: auto;
  width: 664px;
  border: 5px solid #3472f7;
}

.details {
  width: 300px;
  height: 130px;
  margin: 10px;
  background-color: white;
  border: 5px solid #2c93ff;
  display: inline-table;
}

.details h4 {
  font-family: 'Sansita One', cursive;
  font-size: 20px;
  margin: 5px 0 5px 0;
  text-align: center;
}

.details a {
  text-decoration: none;
  color: black;
}

.details h5 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 5px 0 5px 0;
  text-align: center;
}

.details p {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  margin: 5px;
}

.days {
  width: 634px;
  margin: 10px;
  background-color: white;
  border: 5px solid #2c93ff;
}

.days h2 {
  font-family: 'Sansita One', cursive;
  font-size: 20px;
  margin: 5px 8px 5px 10px;
  border-bottom: 5px solid #999999;
}

.activity {
  width: 620px;
  margin: 5px;
  border-bottom: 5px solid #999999;
}

.activity h1 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 10px 0 5px 0;
  text-align: left;
}

.activity p {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

.activity a {
  text-decoration: none;
  color: #3472f7;
  font-family: 'Muli', sans-serif;
}

/*** Blue Profile ***/

#blue {
  position: fixed;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-image: url('https://a2.muscache.com/locations/uploads/neighborhood/hero/758/0_4200_0_1826_hero_Inwood_Tam_03.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index:-9999;
}

#profile-container {
  margin: 0;
  width: 100%;
  position: absolute;
}
